.NominateForm {
    display: none;
    position: absolute;
    background-color: white;
    border: 3px solid @color-theme-dark;
    border-radius: 20px;
    padding: 50px;
    z-index: 1;
    &-Label {
        font-size: 120%;
    }
    &-Value {
        &-Label {
            margin-right: 8px;
        }
        &-Select {
            font-size: 120%;
            border: 2px solid @color-theme-dark;
        }
    }
    &-Achievement {
        &-Label {
            display: block;
        }
        &-Textarea {
            border: 2px solid @color-theme-dark;
            outline: none;
            font-size: 120%;
        }
    }
    &-Submit {
        font-size: 120%;
        margin: auto;
    }
    &-Cancel {
        cursor: pointer;
        text-decoration: underline;
        font-size: 80%;
        display: block;
        text-align: center;
    }
}