.NominateButton {
    display: none;
    opacity: 0;
    padding: 5px 10px;
    background-color: @color-theme-orange;
    color: white;
    transition: opacity .4s;
    position: absolute;
    font-size: 100%;
    i {
        margin-right: 2px;
    }
}