.Vote {
    width: 500px;
    height: 250px;
    display: flex;
    flex-flow: row;
    &-Candidate {

    }
    &-Details {
        p {
            text-transform: capitalize;
        }
        &-Value {

        }
        &-Achievement {

        }
    }
}